.font-outline{
    -webkit-text-stroke: 1px #a04031;
}

.text-gradient {
    background: linear-gradient(135deg, #6C0F0A, #a04031, #ff9e88);
    background-size: 300% 300%;
    animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.custom-pagination .swiper-pagination-bullet {
    @apply bg-primary-100 w-3 h-3 opacity-75 transition-opacity duration-300;
  }
  
  .custom-pagination .swiper-pagination-bullet-active {
    @apply bg-primary-300 opacity-100;
  }
  

